.cartArea{
    //border: solid red;
    width: 100%;
}

.cartHdr {
    background-color: #CCAD5CCC;
    color: white;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}
.cartItem{
    font-size: 1rem;
  
}

.cartCard {
    text-transform: capitalize;
    border-color:  #CCAD5CCC;
    margin-top: 1.5rem;
    height: 72%;
    width: 70%

}
.cartText {
    display:flex;
    flex-direction: column;
    gap: 3rem;
    //height: 90%;
}

.cartTotal {
    display: flex;
    background-color: #CCAD5CCC;
    color: white;
    justify-content: space-between;
    font-weight: bold;
    padding: 0.5rem;
    
}
