.cartArea{
    width: 100%;
}

.cartHdr {
    background-color: #CCAD5CCC;
    color: white;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}
.cartItem{
    font-size: 1rem;
    height:12.6rem;
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
}

.eachCartItem{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 6.8rem;
    height:90%;
}

.cartDeleteBtn{
    width: 1.7rem;
    height: 1.7rem; 
    cursor: pointer;
    color: #CCAD5CCC;
    position: absolute;
    top:-10px;
    right:75px; 
    
  }

.cartCard {
    text-transform: capitalize;
    border-color:  #CCAD5CCC;
    margin-top: 1.5rem;
    height: 72%;
    width: 70%

}
.cartText {
    gap: 3rem;
}

.cartTotal {
    display: flex;
    background-color: #CCAD5CCC;
    color: white;
    justify-content: space-between;
    font-weight: bold;
    padding: 0.5rem; 
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) {
    .cartDeleteBtn{
    position: absolute;
    top:-10px;
    right:38px; 
  }
}
