.collectionContainer {
    display: flex;
    width: 100%;
    height: 100vh;
    gap: 5rem;
}
.collection{
    display: flex;
    width:70%;
    border: solid #CCAD5CCC;
}
.cart {
    display: flex;
    width:30%;
    border: solid #CCAD5CCC;
}