.collectionContainer {
    display: flex;
    justify-content: center;
    width: 95%;
    height: 80vh;
    gap: 5rem;
}
.collection{
    display: flex;
    width:70%;
    border: solid #CCAD5CCC;
    margin-left:5rem;
}
.cart {
    display: flex;
    width:30%;
    border: solid #CCAD5CCC;
}