.collectionContainer {
    display: flex;
    justify-content: center;
    height: 100vh;
    gap: 2rem;
}
.collection{
    display: flex;
    width:68%;
    margin-left:3rem;
}
.cart {
    display: flex;
    width:25%;
    justify-content: center;
}