.collectionArea {
    display:flex;
    flex-wrap: wrap;
    width: 95%;
    height: 70vh;
    justify-content: center;
    align-content: center;
    row-gap: 6em;
    column-gap: 4rem;
}

.FaHeart{
    position: absolute;
    top:0;
    right:0;
    width: 2rem;
    height: 2rem;   
    color: #CCAD5CCC;
    cursor: pointer;
}

.cardBody {
    display:flex;
    flex-direction: column;
    text-transform: capitalize;
    padding: 0.5rem;
}
.cardTitle{
    font-size: 1rem;
    display: flex;
}

.cardText {
    display:flex;
    justify-content: space-between;
}

.addCartBtn {
    display: flex;
    font-weight: bold;
    color: white;
    background-color: #CCAD5CCC;
    border: none;
    font-size: 0.8em;
    padding: 0.5rem;
}

.cardPrice {
    color: #CCAD5CCC;
    font-weight: bold;
}