.favoriteDeleteBtn{
    color: white;
    background-color: #CCAD5CCC;
    border: none;
    font-size: 0.8em;
    padding: 2px;

}

.favoriteContainer{
    
    width:80%;
    border: solid #CCAD5CCC;
    height: 80vh;
}