.favoriteDeleteBtn{
  width: 1.7rem;
  height: 1.7rem; 
  cursor: pointer;
  color: #CCAD5CCC;
  position: absolute;
  top: 0;
  right: 0.2rem;
}

.favoriteContainer{
    width:80%;
    height: 80vh;
    display:flex;
    gap: 5rem;
    
}

.favoriteItem {
    position: relative;
    width: 12rem;
    height: 15rem;   
    display:flex;
    text-transform: capitalize;
    
}

 .favoriteItemImg{
    height: 10.125rem;
    width: 10.125rem;
    position: relative;
    margin-top:1.2rem;
} 
/* .favImgBox{
    border: solid red;
} */