.homeContainer{
    display:flex;
    justify-content: center;
    height: 100vh;

}

.homeBckGround {
    background-size: cover;
    background-repeat: no-repeat;
   height: 55rem ;
   width: 91.25rem;
   background-position: center;
  margin-top: 3rem;
}

.homeBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height:55rem;
    width:30rem;
    background-color:#CCAD5CCC; 
    color: white;
    
}

.homeText {
    height:40rem;
    width:25rem;
    border:solid white;
    display: flex;
    align-items: center ; 
    justify-content: center;
}

.homeTextArea{
    
    height:32rem;
    font-size: 1.2rem;
    width:23rem;
   

}