.updateDeleteBtn{
    color:  #CCAD5CCC;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  
}

.updateDeleteBtn-box{
    display: flex;
    gap:0.5rem;
    margin-top: 0.2rem;

}

 .profileArea{
    display:flex;
    gap: 5rem;
    //justify-content: space-around;
    flex-flow: row wrap;
    //align-items: stretch;
    width: 100%;

}  

.profileFormSection{
   //width:50%;
   flex-grow: 1;
}

.profileTableSection{
  // width:50%;
  flex-grow: 1;
  text-transform: capitalize;
}