.updateDeleteBtn{
    display: flex;
    font-weight: bold;
    color: white;
    background-color: #CCAD5CCC;
    border: none;
    font-size: 0.8em;
    padding: 0.5rem;;
}

.profileSection{
    display:flex;
    gap: 5rem;

}