.updateDeleteBtn{
    color:  #CCAD5CCC;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  
}

.updateDeleteBtn-box{
    display: flex;
    gap:0.5rem;
    margin-top: 0.2rem;

}

.profileSection{
    display:flex;
    gap: 5rem;

}