.profileContainer {
    display:flex;
    flex-direction: horizontal ;
    gap: 10rem;
    justify-content: space-around;
    min-width: 75rem; 

}

.profileBoxOne{
    display: flex;
    flex-direction: column;
    border:solid green;
    width: 30%;
}

.profileBoxTwo{
    display: flex;
    flex-direction: column;
    border:solid green;
    width:70%;
}

.profileName{
    display:flex;
    border: solid red;
    font-weight: bold;
    padding:1rem;
}

.leftNav{
    list-style-type: none;
    background-color: none;
    border: none;
    cursor: pointer;
    text-align: left;
}

.profileNavBtn{
    list-style-type: none;
    background-color: white;
    border: none;
    padding:1rem;
    font-weight: bold;
}

.profileNavBtn:focus {
    color:#CCAD5CCC;
}

.itemsToSell {
    display:flex;
    width: 30%;
}
.favorites{
    display:flex;
    width: 30%;
}