.profileContainer {
    display:flex;
    justify-content: center;
    height: 100vh;
}

.profileSection{
    display: flex;
    gap: 5rem;
    width: 94%; 
    height: 70%;
    margin-top: 2rem;
}

.profileBoxOne{
    display: flex;
    flex-direction: column;
    width: 15%;
}

.profileBoxTwo{
    display: flex;
    width:70%;
}

.profileName{
    display:flex;
    font-weight: bold;
    padding:1rem;
    font-size:larger;
}

.leftNav{
    list-style-type: none;
    background-color: none;
    border: none;
    cursor: pointer;
    text-align: left;
}

.profileNavBtn{
    list-style-type: none;
    background-color: white;
    border: none;
    padding:1rem;
    font-weight: bold;
}

.profileNavBtn:focus {
    color:#CCAD5CCC;
}
