.profileContainer {
    display:flex;
    flex-direction: horizontal ;

}
.profileDetails{
    display:flex;
    width: 30%;
}
.itemsToSell {
    display:flex;
    width: 30%;
}
.favorites{
    display:flex;
    width: 30%;
}