$maincolor: black;
$contrastcolor: white;

@mixin black-text-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

nav {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  }

.appName{
    display: flex;
    justify-content: center;
    color: #666666;
    font-size: 4rem;
    font-weight: bold;
}    

.loginArea {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 1rem;
        
        a {
            display: flex;
            text-decoration: none;
            color: black;
        }

    button{
        display: flex;
        border: none;
        background-color: white;
        margin-right: 1rem;
        padding: 0;
        font-size: 1rem;
    }
}

.subNav{
    @include black-text-white-bg;
    display: flex;
    justify-content: space-evenly ;
    

    button  {
    margin: 10px;
    font-size: large;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px, 0;
   @include black-text-white-bg;
      }

    a :focus {
        color: #CCAD5CCC;
    }
}