$maincolor: black;
$contrastcolor: white;

@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-text-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

nav {
  
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  
  }


.mainNav{
    @include black-text-white-bg;
    display: flex;

    a {
        @include black-text-white-bg;
    
        div {
          margin: 10px;
          font-size: large;
        }

}}
.subNav{
    @include white-text-black-bg;
    display: flex;
    
    div {
        margin: 10px;
        font-size: large;
      }
}